@import url('https://fonts.googleapis.com/css2?family=poppins:weight@100;300;400;500;600&display=swap');
:root{
  --orange: #ff7800;
  --black:#130f40;
  --light-color:#666;
  --box-shadow:0.5 rem 1rem rgba(0,0,0,.1);
  --border:.2 rem solid rgba(0,0,0,.1);
  --outline: .2 rem solid rgba(0,0,0,.1);
  --outline-hover:2 rem solid var(--black);
}

*{
  font-family:'poppins' sans-serif;
  margin : 0;
  padding : 0;
  box-sizing : border-box;
  outline:none ;
  border:none ;
  text-decoration :none;
  text-transform:capitalize ;
  transition : all.2s linear;  
} 
html{
  font-size:80.5%;
  overflow-x:hidden;
  scroll-padding-top:7rem;
} 
.header .logo{
  font-size: 2.5 rem;
  font-weight: bolder;
  color:var(--black);
  
}
.header .navbar a{
  font-size:1.7rem;
  margin: 0 1rem;
  color:var(--black);
}
.header .navbar a:hover{
  color:var(--orange);
    
}
body{
  background-image:url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRySuplKJuYo0Bx9-UFbzQRc99SM7F3MZIujg&usqp=CAU");
  font-family:arial;
  width:100vw;
} 
 .header{
  position: fixed;
  top:0; left:0; right:0;
  z-index:1000;
  display:flex;
  align-items:center;
  justify-content:space-between;
  padding:2rem 9%;
  background:#fff;
  box-shadow: var(--box-shadow);
}
header .logo i{
  color: var(--orange);
}

.about{
  height:100vh;
  width:100%;
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTcoqNSSVYBsD_WbhzmGqsVOwKANsHu4pahoQ&usqp=CAU");
  justify-content:center;
  align-items:center;
  background-size: 100% 100%;
  position: relative;
  text-align: center;
  background-size:cover;
}
.centered{
  width:100%;
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  font-size: 265%;
  color:#666;
  
}


.footer {
  position:absolute;
  bottom:0;
  width:100%;
  height:100px;   
  background:#666;
}
 .main{
  display:flex;
  flex-wrap:wrap;
  margin: 2%;
  grid-template-columns: repeate(auto-fill,minmax(300px,300px));
  align-items:center;
  justify-content: center;
  row-gap:40%;
  width:100vw;
  margin: right 10px;;
 }
 
 .card{
      width: 20%;
      display: inline-block;
      box-shadow: 2px 2px 20px whitesmoke;
      border-radius: 5px; 
      margin: 2%;
     }
 
 .image img{
   width: 100%;
   border-top-right-radius: 5px;
   border-top-left-radius: 5px;
   height:250px;
 
  
  }
 
 .state{
  
   text-align: center;
   padding:10px;
   background-color:#666;
   
  }
 
 h1{
   font-size:20px;
  }
 
 .des{
  padding: 3px;
  text-align: center;
  background-color:#00B0BA;
  padding-top: 10px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
 }
 button{
   height: 60px;
   margin-top: 50px;
   margin-bottom: 10px;
   background-color:#FFEC59;
   border: 2px solid black;
   border-radius: 5px;
   padding:6px;
 }
 button:hover{
   background-color:black;
   color: white;
   transition: .5s;
   cursor: pointer;
 }
 .socials{
  height:20vh;
  display:flex;
  justify-content: center;
  align-items:center;
  background-color:black;
}
 .socials a{
  height:60px;
  width:60px;
  border-radius:50px;
  text-align:center;
  margin:10px;
  background-color:#f5f6fa;
  box-shadow: 1px 4px 2px 2px #faaca8;
  font-size: 30px;
  line-height: 60px;
 }
 a .i{
  transition:all 0.3s linear;
}
a:hover i{
  transform:scale(0.4);
}
.fa-facebook{
  color:#130f40;
}
.fa-instagram{
  color:#e84393;
}.fa-twitter{
  color:#0097e6;
}.fa-linkedin{
  color:#130f40;
}