
body {
    font-family: "Montserrat";
    text-align: center;
    background-color: #BFACE2;
  }
  
  
  p {
    color: #0EA293;
  }
  
  /* Headings */
  
  .big-heading {
    font-family: "Montserrat-Black";
    font-size: 3.5rem;
    line-height: 1.5;
    padding-left: 25%;
    padding-right: 25%;
  }

  .section-heading {
    font-size: 3rem;
    line-height: 1.5;
  }
  
  /* Containers */
  
  .container-fluid{
    padding: 7% 15%;
  }
  
  /* Sections */
  
  .colored-section {
    background-color: #5D3891;
    color: #fff;
  }
.navbar {
    padding: 0 0 4.5rem;
  }
  
  .navbar-brand {
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
  }
  
  .nav-item {
    padding: 0 20px;
  }
  
  .nav-link {
    font-size: 1.2rem;
    font-family: "Montserrat-Light";
  }
  .download-button {
    margin: 5% 3% 5% 25%;
  }
 
  #title {
    background-color: #5D3891;
    color: #fff;
    text-align: left;
  }
  
  #title .container-fluid {
    padding: 3% 15% 7%;
  }
  
  /* Title Image */
  
  .title-image {
    width: 70%;
    height:70%
    position: absolute;
    right: 10%;
    border-radius:100%;
    padding-bottom:10%;
  }

.Dishes{
    background-color: #BFACE2;
}
h2{
    font-family: 'Montserrat',sans-serif;
    font-size:5.5rem;
    color:#66BFBF;
    font-weight: normal;

    
}
h3{
    font-family:'Montserrat',sans-serif;
    font-size:xx-large;
    color:#1A120B;
}
h2{
    color: #11999E;


}

.dish-row{
    margin: 100px 50px 100px 50px;
    text-align:center;
}

.chole-bhature-img{
    width:10%;
    float: left;
    margin-right:30px;
    border-radius: 100%;
}
.Aloo-Paratha-img{
    width:10%;
    float: right;
    border-radius: 100%;
}
.Chicken-Curry-img{
    width:10%;
    float: left;
    margin-right:30px;
    border-radius: 100%;
}
.Kadhai-Paneer-img{
    width:10%;
    float: right;
    border-radius: 100%;
}
.Kadhi-Chawal-img{
    width:10%;
    float: left;
    margin-right:30px;
    border-radius: 100%;
}
.white-section{
    background-color: #5D3891;
}
.white-section .cnt-block p{ 
    color:#2a2a2a;
    font-size:13px; 
    line-height:20px; 
    font-weight:400;
    
 }
 